@import "tailwindcss";

@theme {
    --color-primary: 199 89% 48%;
    --text-primary-foreground: 210 20% 98%;
    --color-secondary: 220 14% 96%;
    --text-secondary-foreground: 220 9% 46%;
    --color-background: 224 71% 4%;
    --color-accent: 215 27% 16%;
    --text-accent-foreground: 210 20% 98%;
    --color-destructive: 0 62% 30%;
    --text-destructive-foreground: 199 89% 48%;
    --text-muted-foreground: 220 9% 46%;
    --color-card: 224 71% 4%;
    --text-card-foreground: 210 20% 98%;
}